.button-group {
    display: block;
}

.slider,
.slider img {
    display: none;
}

.dots {
    margin-top: 5px;
}

.dot:not(:last-of-type) {
    margin-right: 5px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot-active {
    background-color: #000;
}

.slider-main-image {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
  
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
  
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.slider-text {
    color: #FFF;
}
