.button-group {
    display: block;
}

.slider,
.slider img {
    display: none;
}

.dots {
    margin-top: 5px;
}

.dot:not(:last-of-type) {
    margin-right: 3px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot-active {
    background-color: #000;
}
